<ion-view view-title="">
    <!-- Custom slider below main title -->
    <div class="customSliderPager">
        <span class="customSlider-pager-page"
              ng-repeat="i in getCount(pager.total) track by $index"
              ng-class="{active: pager.current == $index}">
            <i class="icon ion-record"></i>
        </span>
    </div>
    <ion-nav-bar class="bar-tm">
        <ion-nav-back-button   ng-click="goBack()">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-pane ng-loak>
        <ion-content scroll="false">
            <ion-slide-box show-pager="false" on-slide-changed="slideDetailHasChanged($index)" class="slider-pager-top pager">

                <!--Chi tiết tin-->
                <ion-slide class="slide-content row tm-row">
                    <!-- Right -->
                    <div class="col s4 m4 right relative" ng-init="topshareCat = 13;loadTopShareArticles(topshareCat);" ng-if="isLargeWidth">
                        <div class="top-share-title">Tin chia sẻ nhiều</div>
                        <ion-item class="tm-card-wide md-card md-shadow--2dp news-item no-border" bindonce ng-repeat="article in articles[topshareCat] track by article.NewsId" bo-class="{'have-thumb': article.haveImage}">
                            <div class="card card-small">
                                <div class="main-content" ng-click="goOtherArticle(article.CatSlug, article.NewsSlug)">
                                    <div class="card-image">
                                        <a target="_blank">
                                            <img hide-image-if-not-exists bo-src="::article.Images" alt="{{::article.Title}}" ng-if="article.Images">
                                        </a>
                                    </div>
                                    <div class="card-content">
                                        <a target="_blank" class="article-title-a">
                                            <h2>{{::article.Title}}</h2>
                                        </a>
                                        <div class="news-info main">
                                            <span class="news-source" bo-bind="::article.SourceName"></span>
                                            <span class="news-time">
                                                <span class="timeago" time-ago="" from-time="{{::article.TimeString}}"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ion-item>
                        <ion-spinner ng-if="loading[topshareCat]"></ion-spinner>
                    </div>
                    <!-- End right -->
                    <!-- Left -->
                    <div ng-class="{'col s8 m8': isLargeWidth}">
                        <div class="article-detail" ng-if="!loading">
                            <a ng-href="{{article.Link}}" target="_blank">
                                <h2 ng-bind="article.Title" class="article-title"></h2>
                            </a>
                            <div class="news-info">
                                <span class="news-source" ng-bind="::article.SourceName"></span>
                                <span class="news-time">
                                    <span class="timeago" time-ago="" from-time="{{::article.TimeString}}" ng-if="!loading"></span>
                                </span>
                            </div>
                            <div class="content" ng-if="!loading" ng-bind-html="article.Content"></div>
                            <div class="social" id="social-{{::article.NewsId}}">               
                                <span class="social">
                                    <div class="social-item fb-like">
                                        <iframe ng-src="{{article.FacebookShare}}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px;height:28px; margin-top: 1px;text-align:center" allowtransparency="true"></iframe>
                                    </div>
                                </span>
                                <span class="social-sharing is-small" data-permalink="{{::article.Link}}">
                                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://www.tintm.com{{::article.Path}}" title="Chia sẻ qua Facebook" class="share-facebook">
                                        <span aria-hidden="true" class="icon-social sicon-facebook"></span>
                                        <span class="share-title">Chia sẻ</span>
                                        <span class="share-count"></span>
                                    </a>
                                    <a target="_blank" href="https://plus.google.com/share?url=http://www.tintm.com{{::article.Path}}" title="Chia sẻ qua Google+" class="share-google">
                                        <span aria-hidden="true" class="icon-social sicon-google"></span>
                                        <span class="share-title">Chia sẻ</span>
                                    </a>
                                </span>
                            </div>
                            <!--Tin lien quan-->
                            <div class="section relative more clear" ng-if="articlesRelative && articlesRelative.length > 0">
                                <div class="block-section">
                                    <span class="section">Có thể bạn quan tâm</span>
                                </div>
                                <ion-list>
                                    <ion-item class="horizontal" ng-repeat="article in articlesRelative track by article.NewsId" bindonce>
                                        <a ng-click="goOtherArticle(article.CatSlug, article.NewsSlug)" ui-sref-opts="{reload: true, notify: true}" target="_blank">
                                            <img hide-image-if-not-exists bo-src="article.Thumbnail || article.Images" alt="{{article.Title}}" ng-if="article.Thumbnail || article.Images" />
                                        </a>
                                        <a ng-click="goOtherArticle(article.CatSlug, article.NewsSlug)" ui-sref-opts="{reload: true, notify: true}" target="_blank"><h2>{{article.Title}}</h2></a>
                                        <div class="news-info">
                                            <span class="news-source" bo-bind="article.SourceName"></span>
                                            <span class="news-time">
                                                <span class="timeago" time-ago="" from-time="{{::article.TimeString}}"></span>
                                            </span>
                                            <!--<span class="card-action">
                              <a ng-if="$state.includes('detail1')" ui-sref="detail(article.CatSlug, article.NewsSlug)" ui-sref-opts="{reload: true, notify: true}">
                                <button   class="button">
                                  <ion-icon class="ion-ios-bolt"></ion-icon>
                                </button>
                              </a>
                              <a ng-if="$state.includes('detail')" ui-sref="detail1(article.CatSlug, article.NewsSlug)" ui-sref-opts="{reload: true, notify: true}">
                                <button   class="button">
                                  <ion-icon class="ion-ios-bolt"></ion-icon>
                                </button>
                              </a>
                            </span>-->
                                        </div>
                                    </ion-item>
                                </ion-list>
                                <!--<div class="action">
                  <button class="button left" ng-if="article.Related > 5">Xem thêm {{article.Related}} tin liên quan</button>
                </div>-->
                            </div>
                            <!--Tin lien quan-->
                            <!--Tin hot trong ngay-->
                            <div class="section relative more clear" ng-if="!loadingRelative">
                                <div class="block-section">
                                    <span class="section">Các tin nổi bật hôm nay</span>
                                </div>
                                <ion-list>
                                    <ion-item class="horizontal" ng-repeat="article in articlesHighlight track by article.NewsId" bindonce>
                                        <a ng-click="goOtherArticle(article.CatSlug, article.NewsSlug)" target="_blank">
                                            <img hide-image-if-not-exists bo-src="article.Thumbnail || article.Images" alt="{{article.Title}}" ng-if="article.Thumbnail || article.Images" />
                                        </a>
                                        <a ng-click="goOtherArticle(article.CatSlug, article.NewsSlug)" target="_blank"><h2>{{article.Title}}</h2></a>
                                        <div class="news-info">
                                            <span class="news-source" bo-bind="article.SourceName"></span>
                                            <span class="news-time">
                                                <span class="timeago" time-ago="" from-time="{{::article.TimeString}}"></span>
                                            </span>
                                            <!--<span class="card-action">
                              <a ng-if="$state.includes('detail1')" ui-sref="detail(article.CatSlug, article.NewsSlug)" ui-sref-opts="{reload:true}">
                                <button   class="button">
                                  <ion-icon class="ion-ios-bolt"></ion-icon>
                                </button>
                              </a>
                              <a ng-if="$state.includes('detail')" ui-sref="detail1(article.CatSlug, article.NewsSlug)" ui-sref-opts="{reload:true}">
                                <button   class="button">
                                  <ion-icon class="ion-ios-bolt"></ion-icon>
                                </button>
                              </a>
                            </span>-->
                                        </div>
                                    </ion-item>
                                </ion-list>
                                <!--<div class="action">
                  <button class="button left" ng-if="article.Related > 5">Xem thêm</button>
                </div>-->
                            </div>
                            <!--Tin hot trong ngay-->
                        </div>
                        <div class="text-center"><ion-spinner ng-if="loading"></ion-spinner></div>
                    </div>
                    <!-- End Left -->
                </ion-slide>
                <!--Chi tiết tin-->

                <ion-slide class="slide-content row tm-row" ng-repeat="index in arr" ng-if="arr.length > 0">
                    <!-- Right -->
                    <div class="col s4 m4 right relative" ng-init="topshareCat = 13;loadTopShareArticles(topshareCat);" ng-if="isLargeWidth || index == pager.current">
                        <div class="top-share-title">Tin chia sẻ nhiều</div>
                        <ion-item class="tm-card-wide md-card md-shadow--2dp news-item no-border" bindonce ng-repeat="article in articles[topshareCat] track by article.NewsId" bo-class="{'have-thumb': article.haveImage}">
                            <div class="card card-small">
                                <div class="main-content" ng-click="goOtherArticle(article.CatSlug, article.NewsSlug)">
                                    <div class="card-image">
                                        <a target="_blank">
                                            <img hide-image-if-not-exists bo-src="::article.Images" alt="{{::article.Title}}" ng-if="article.Images">
                                        </a>
                                    </div>
                                    <div class="card-content">
                                        <a target="_blank" class="article-title-a">
                                            <h2>{{::article.Title}}</h2>
                                        </a>
                                        <div class="news-info main">
                                            <span class="news-source" bo-bind="::article.SourceName"></span>
                                            <span class="news-time">
                                                <span class="timeago" time-ago="" from-time="{{::article.TimeString}}"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ion-item>
                        <ion-spinner ng-if="topShareLoading[topshareCat]"></ion-spinner>
                    </div>
                    <!-- End right -->
                    <!-- Left -->
                    <div ng-class="{'col s8 m8': isLargeWidth}" ng-if="index == pager.current">
                        <div class="article-detail" ng-if="!loadings[index]">
                            <a ng-href="{{articles[index].Link}}" target="_blank">
                                <h2 ng-bind="articles[index].Title" class="article-title"></h2>
                            </a>
                            <div class="news-info">
                                <span class="news-source" ng-bind="articles[index].SourceName"></span>
                                <span class="news-time">
                                    <span class="timeago" time-ago="" from-time="{{::articles[index].TimeString}}" ng-if="articles[index]"></span>
                                </span>
                            </div>
                            <div class="content" ng-if="!loadings[index]" ng-bind-html="articles[index].Content"></div>
                            <div class="social" ng-if="articles[index]" style="display: inline-block; width: 100%;" id="social-{{::articles[index].NewsId}}">
                                <span class="social">
                                    <div class="social-item fb-like">
                                        <iframe ng-src="{{articles[index].FacebookShare}}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px;height:28px; margin-top: 1px;text-align:center" allowtransparency="true"></iframe>
                                    </div>
                                </span>
                                <span class="social-sharing is-small" data-permalink="{{::article.Link}}">
                                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://www.tintm.com{{::articles[index].Path}}" title="Chia sẻ qua Facebook" class="share-facebook">
                                        <span aria-hidden="true" class="icon-social sicon-facebook"></span>
                                        <span class="share-title">Chia sẻ</span>
                                        <span class="share-count"></span>
                                    </a>
                                    <a target="_blank" href="https://plus.google.com/share?url=http://www.tintm.com{{::articles[index].Path}}" title="Chia sẻ qua Google+" class="share-google">
                                        <span aria-hidden="true" class="icon-social sicon-google"></span>
                                        <span class="share-title">Chia sẻ</span>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="text-center"><ion-spinner ng-if="loadings[index]"></ion-spinner></div>
                    </div>
                    <!-- End Left -->
                </ion-slide>

            </ion-slide-box>
        </ion-content>
    </ion-pane>
</ion-view>